.bg-black {
  background-color: black;
}

.overlay {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  background-color: rgba(32, 32, 32, 0.891);
}

.post-detail {
  position: relative;
  background-color: #646d73;
}

.nav-likes {
  border-right: 1px solid #444;
  border-left: 1px solid #444;
  padding: 0rem 1rem 0rem 1rem;
  margin-left: 1rem;
  font-size: 12px;
}

.like:hover {
  color: rgb(199, 100, 8) !important;
  transform: scale(1.3);
}

.post-popup {
  z-index: 20;
  top: 10;
  bottom: 10;
  left: 0;
  right: 0;
  position: fixed;
}
