<div class="post-popup" *ngIf="show">
  <div class="overlay"></div>
  <!-- <app-navbar></app-navbar> -->
  <div class="container post-detail px-0" style="min-height: 100vh">
    <nav class="navbar navbar-dark bg-black py-1">
      <ul class="navbar-nav list-inline">
        <li class="nav-item nav-likes list-inline-item">
          <span class="fas fa-arrow-up text-secondary like"></span>
          <span class="text-white mx-3">{{post.likes}}</span>
          <span class="fas fa-arrow-down text-secondary like"></span>
        </li>
      </ul>
      <span class="navbar-text mr-auto ml-2">
        <span class="fas fa-comment-alt mr-2"></span>
        <span class="text-medium">
          {{post.title}}
        </span>
      </span>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn btn-sm btn-outline-secondary" style="border:none" (click)="hidePost()">
            <i class="fas fa-times mr-2"></i>
            Close
          </button>
        </li>
      </ul>
    </nav>
    <div class="row justify-content-center mt-4">
      <div class="col-lg-7">
        <div class="card card-body">
          <app-post [post]="post"></app-post>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header text-bold bg-primary text-white"
            style="font-size: 11px; padding-top: 0.4rem; padding-bottom: 0.4rem;">
            COMMUNITY DETAILS
          </div>
          <div class="card-body">
            <div style="display: flex; align-items:center;">
              <i class="far fa-circle fa-2x mr-2"></i>
              <span class="text-medium">
                r/{{subreddit?.name}}
              </span>
            </div>
            <div style="display: flex; flex-direction: row;" class="my-2">
              <div style="flex-grow: 1">
                <span class="text-bold">{{posts?.length}}</span>
                <br>
                <small class="text-medium">Posts</small>
              </div>
              <div style="flex-grow: 1; border-left: 1px solid rgba(26, 26, 27, 0.07); padding-left: 1rem;">
                <span class="text-bold">---</span>
                <br>
                <small class="text-medium">Subscribers</small>
              </div>
            </div>
            <p style="font-size: 14px;">
              {{subreddit?.description}}
            </p>
            <button class="btn btn-block btn-primary text-bold" style="font-size: 14px;">SUBSCRIBE</button>
            <button class="btn btn-block btn-primary text-bold" style="font-size: 14px;">CREATE POST</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
