<app-navbar (onSort)="getPosts($event)"></app-navbar>
<app-post-detail [show]="showPost" (hide)="postDetail()" [post]="selectedPost" [subreddit]="subreddit"></app-post-detail>
<nav class="navbar navbar-dark bg-primary">
  <a href="" class="navbar-brand ml-2">
    <img src="assets/logo.png" alt="" class="img-fluid img-circle my-3 ml-4 mr-1" style="height: 40px">
    <span class="text-bold">
      r/{{subreddit?.name}}
    </span>
  </a>
</nav>
<nav class="navbar navbar-light bg-light" style="padding:0">
  <ul class="navbar-nav ml-5 pt-1">
    <li class="nav-link text-bold" style="border-bottom: 3px solid; padding: 5px;">
      <a href="" class="nav-link" style="padding:0">
        Posts
      </a>
    </li>
  </ul>
</nav>

<div class="container mt-3">
  <div class="row justify-content-center">
    <app-feed [posts]="posts" class="col-lg-7" (post)="selectPost($event)"></app-feed>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header text-bold bg-primary text-white"
          style="font-size: 11px; padding-top: 0.4rem; padding-bottom: 0.4rem;">
          COMMUNITY DETAILS
        </div>
        <div class="card-body">
          <div style="display: flex; align-items:center;">
            <i class="far fa-circle fa-2x mr-2"></i>
            <span class="text-medium">
              r/{{subreddit?.name}}
            </span>
          </div>
          <div style="display: flex; flex-direction: row;" class="my-2">
            <div style="flex-grow: 1">
              <span class="text-bold">{{posts?.length}}</span>
              <br>
              <small class="text-medium">Posts</small>
            </div>
            <div style="flex-grow: 1; border-left: 1px solid rgba(26, 26, 27, 0.07); padding-left: 1rem;">
              <span class="text-bold">---</span>
              <br>
              <small class="text-medium">Subscribers</small>
            </div>
          </div>
          <p  style="font-size: 14px;">
            {{subreddit?.description}}
          </p>
          <button class="btn btn-block btn-primary text-bold" style="font-size: 14px;">SUBSCRIBE</button>
          <button class="btn btn-block btn-primary text-bold" style="font-size: 14px;">CREATE POST</button>
        </div>
      </div>
    </div>
  </div>
</div>