/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');

html, body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #DAE0E6;
}

.text-bold{
    font-weight: bold;
}

.text-medium{
    font-weight: 500;
}

.text-semi-bold{
    font-weight: 600;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-10 {
    font-size: 10px;
}

.img-circle{
    border-radius: 50%;
    border: 3px solid white;
    outline: black;
    background-color: white;
}