/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');

html, body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #DAE0E6;
}

.text-bold{
    font-weight: bold;
}