<!-- Navbar -->
<app-navbar (onSort)="getPosts($event)"></app-navbar>
<!-- ./Navbar -->

<!-- Post detail -->
<app-post-detail [show]="showPost" (hide)="postDetail()" [post]="selectedPost" [comments]="comments" [subreddit]="subreddit"></app-post-detail>
<!-- ./Post detail -->

<div class="container mt-3" id="container">
  <div class="row justify-content-center">
    <div class="col-lg-11">

      <label class="text-bold">Popular posts</label>
    </div>
  </div>
  <div class="row justify-content-center">

    <!-- Feed -->
    <app-spinner *ngIf="loading" class="col-lg-7 col-md-12 col-12"></app-spinner>
    <app-feed [posts]="posts" class="col-lg-7 col-md-12 col-12" *ngIf="posts?.length" (post)="selectPost($event)"></app-feed>
    <div class="col-lg-7 col-md-12 col-12" *ngIf="!posts?.length && !loading">
      <p class="text-bold">
        Wow! Such empty.
      </p>
    </div>
    <!-- ./Feed -->

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header" style="background: url(https://www.redditstatic.com/desktop2x/img/id-cards/banner@2x.png) center center / cover no-repeat rgb(0, 121, 211);">
        </div>
        <div class="card-body">
          <strong>r/popular</strong>
          <p style="font-size: 14px;" class="mt-2">
            The best posts on Reddit for you, pulled from the most active communities on Reddit. Check here to see the
            most shared, upvoted, and commented content on the internet.
          </p>
          <button class="btn btn-block btn-primary mt-2 text-bold" data-toggle="modal" data-target="#add-post">CREATE
            POST</button>
        </div>
      </div>
      <app-subreddit-list></app-subreddit-list>
    </div>
  </div>
</div>

<app-add-post></app-add-post>
